.footer {
  background: #020617;
  color: white;
  text-align: center;
  padding: 40px 10%;
  height: 40vh;
}


.footer-content h2 {
  color: #38bdf8;
  margin-bottom: 5px;
}


.footer-content p {
  color: #cbd5f5;
}


.socials {
  margin: 20px 0;
}

.socials a {
  margin: 0 10px;
  text-decoration: none;
  color: #38bdf8;
  transition: 0.3s;
}

.socials a:hover {
  color: white;
}


.copy {
  font-size: 14px;
  margin-top: 80px;
  color: #64748b;
}